body {
    margin: 0;
    font-family: Outfit;
    background-color: #fff;
}

h1, h2, h3{
    font-family: "DM Serif Display", serif;
}
h2, h3{
    font-size: 35px !important;
    font-weight: 300 !important;
}
.container {
    max-width: 1240px;
}
/* .is-sticky .main-header-area .classynav ul li a {
    color: #fff !important;
} */
.classynav ul{
    display: flex;
    align-items: center;
}
.dark.classy-nav-container a:focus {
    color: #fff !important;
}
/* .is-sticky .main-header-area .classynav ul li a {
    color: #fff !important;
} */
.dark.classy-nav-container .cn-dropdown-item a:hover{
    color: #afb700 !important;
}
.dark .classynav ul li .dropdown li a:hover{
    color: #afb700 !important;
}
.page-title-div {
    text-align: center;
    font: normal normal normal 50px / 111px DM Serif Display;
    letter-spacing: 1.54px;
    color: #992785;
    opacity: 1;
    padding: 5px;
    height: 65px;
    line-height: normal;
}
.search-bar .navbar{
    background: #C6BEC42C 0% 0% no-repeat padding-box;
border: 1px solid #992785;
border-radius: 13px;
opacity: 1;
}
.search-bar .Properties-for-sale{
    margin-top: -25px;
    gap: 28px;
}
.search-bar .all-properties{
    text-decoration: none;
    width: 232px;
    height: 42px;
    background: #E00069 0% 0% no-repeat padding-box;
    border-radius: 37px;
    opacity: 1;
}
.search-bar .all-properties a{
    text-decoration: none;
    font-size:17px !important;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.search-bar form{
    gap: 12px;
    margin: 20px 25px 20px 25px ;
}
.search-bar .enter-location{
    margin-top: -46px;
    width: 100%;
}
.search-bar .enter-location label{
    text-align: left;
font: normal normal 500 24px/38px Outfit;
letter-spacing: 0px;
color: #992785;
opacity: 1;
}
.search-bar .form-control::placeholder{
    font: normal normal normal 22px Outfit;
letter-spacing: 0px;
color: #9D979B;
opacity: 1;
}
.search-bar .form-control{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #992785;
border-radius: 10px;
opacity: 1;
height: 52px;
}
.search-bar button{
width: 270px;
height: 52px;
background: #AFB700 0% 0% no-repeat padding-box;
border: 1px solid #AFB700;
border-radius: 10px;
opacity: 1;
gap: 10px;
font-size: 22px;
}
.search-bar .form-group{
    width: 126px;
height: 52px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #992785;
border-radius: 10px;
opacity: 1;
justify-content: space-evenly;
margin-bottom: 0px !important;
}
.search-bar .form-group #html{
    width: 45px;
height: 45px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #992785;
border-radius: 10px;
opacity: 1;
}
#html, #buy {
    display: none;
}

/* Create a custom checkbox */
#html + label {
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 100%;
    display: flex;
    left: 60px;
}
#buy + label {
    position: relative;
    cursor: pointer;
    user-select: none;
    /* width: 100%; */
    display: flex;
    left: 26px;
}
.form-group label{
    font-size: 22px;
    color: #9D979B;
}

#html + label::before {
    content: '';
    position: absolute;
    left: -46px;
    left: 10;
    width: 36px;
    height: 36px;
    border: 1px solid #992785;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    transition: background-color 0.3s, border-color 0.3s;
}
#buy + label::before {
    content: '';
    position: absolute;
    left: -45px;
    left: 10;
    width: 36px;
    height: 36px;
    border: 1px solid #992785;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    transition: background-color 0.3s, border-color 0.3s;
}

#html:checked + label::before {
    background-color: transparent;
    /* background-color: #007bff;
    border-color: #007bff; */
}
#buy#html:checked + label::before {
    background-color: transparent;
}
#html:checked + label::after {
    content: '✔';
    position: absolute;
    left: -38px;
    top: -2px;
    color: #992785;
    font-size: 25px;
}
#buy:checked + label::after {
    content: '✔';
    position: absolute;
    left: -37px;
    top: -2px;
    color: #992785;
    font-size: 25px;
}
.listing {
    background: #ffffff;
    border: 1px solid #C6BEC4;
    border-radius: 11px;
    overflow: hidden;
}
.listing_location {
    padding-left: 20px !important;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-right: 20px;
    background: #fff;
    margin-top: 0 !important;
}
.sold-cards p{
   font-family: Outfit;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: #685d5d;
}
.listing_price {
    position: absolute;
    left: 35%;
    bottom: -19px;
}
.valuation p {
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 0 3%;
}
.Why-work-with-us{
    padding: 100px 20px 0px 20px;
}
.work-with-us-content {
    max-width: 100% !important;
}
.Why-work-with-us img{
    width: 100%;
    height: auto;
}
.reviews-section {
    margin: 0 auto;
    padding: 150px 20px 0px 20px !important;
    text-align: center;
}
.customers-say{
    padding: 90px 20px 0px 20px !important;
}
.work-with-us-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 70px !important;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #C6BEC4;
    margin: 20px 0;
}
.our-story .body-component p{
    padding: 0px;
}
.our-story .book-now {
    display: inline-flex;
    top: 6699px;
    left: 867px;
    width: 193px !important;
    height: 37px !important;
    text-align: center;
    font: normal normal 600 19px Outfit;
    background: #AFB700;
    color: #fff !important;
    border-radius: 28px;
    opacity: .8;
}
.our-story .book-now:hover {
    background-color: #afb700c7;
}
.letting-experience{
    margin-top: 100px !important;
}
.Brilliant{
    margin: 0 auto;
    padding: 180px 20px 100px 20px !important;
    text-align: center;
}
.choosing-Urban{
    padding: 75px 20px 100px 20px !important;
}
.landlords{
    padding: 58px 20px 100px 20px !important;
}
.valuation {
    background-image: url(/images/about-us/valuation.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.valuation .body-component p{
    padding: 0 20% !important;
}
.owl-carousel .item {
    display: flex;
    align-items: center;
}
.owl-carousel .item img {
    /* width: 100%; */
    height: auto !important;
}
.custom-prev i, .custom-next i{
    font-size: 48px !important;
    color: #992785 !important;
}


@media screen and (min-width: 991px) {
    .classynav .dropdown{
        display: block !important;
    }
}
@media screen and (max-width: 768px) {
    .page-title-div {
        height: 100px;
        line-height: normal;
    }
    
.page-subtitle-div{
    line-height: normal;
}
.search-bar .form-group{
    width: 100%;
}
.search-bar .form-control::placeholder{
    font: normal normal normal 16px Outfit;
}
.search-bar .Properties-for-sale {
    margin-top: -25px;
    gap: 5px;
}
.search-bar .all-properties a{
    text-decoration: none;
    font-size: 12px !important;
    font-weight: 400;
}
#html + label, #buy + label{
    font-size: 16px;
}
.search-bar button{
    width: 100%;
}
#buy + label {
    position: relative;
    cursor: pointer;
    user-select: none;
    width: auto;
    display: flex;
    left: 10px;
}
.Why-work-with-us {
    padding: 50px 20px 0px 20px;
}
.body-component p{
    padding: 0;
}
.work-with-us-section {
    padding: 30px !important;
}
#html:checked + label::after {
    left: -37px;
    top: -7px;
}
#buy + label::before {
    content: '';
    position: absolute;
    left: -55px;
    left: 10;
    width: 36px;
    height: 36px;
    border: 1px solid #992785;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    transition: background-color 0.3s, border-color 0.3s;
}
#buy:checked + label::after {
    left: -47px;
    top: -7px;
}
    
}




/* seller-page */
.custom-btn{
    background-color: #E00069 !important;
}
.custom-btn:hover {
    background-color: #d41653 !important;
    color: #fff;
}
.page-title-div{
    margin-top: 4%;
}
.card-carousel{
    margin-top: 7%;
}
.card-carousel h2{
    color: #A22D6C;
    font-size: 30px !important;
    margin-bottom: 15px;
}
.page-subtitle-div {
    text-align: center;
    font: normal normal 300 30px / 111px Outfit;
    letter-spacing: 0.89px;
    color: #000000;
    opacity: 1;
    padding: 5px;
    height: 70px;
    line-height: normal;
}
.selling-content{
    background-color: white;
    border-radius: 10px;
    padding: 22px 22px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
    margin: 20px 0;
    border: 1px solid #C6BEC4;
}
.Village-achieve .body-component b{
    font-weight: 400 !important;
    opacity: .7;
}
.property-content{
    background-color: white;
    border-radius: 10px;
    padding: 24px 24px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
    border: 1px solid #C6BEC4;
    margin: 20px 0;
}
.property-valuation .body-component p{
    padding: 0px !important;
}
.selling-btn {
    background-color: #E00069  !important;
    color: white !important;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.selling-btn:hover{
    background-color: #d41653 !important;
}


  .post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
  }
  .post-slide .post-img {
    position: relative;
    overflow: hidden;
    /* border-radius: 10px; */
    /* margin: -12px 15px 8px 15px; */
    /* margin-left: -10px; */
  }
  .post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
  }
  .post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
  }
  .post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(
      -45deg,
      rgba(6, 190, 244, 0.75) 0%,
      rgba(45, 112, 253, 0.6) 100%
    );
    transition: all 0.5s linear;
  }
  .post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
  }
  .post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  .post-slide .post-content {
    background: #fff;
    padding: 15px 15px 10px 40px;
    border-radius: 15px;
  }
  .post-slide .post-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
  }
  .post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
  }
  .post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
  }
  .post-slide .post-date {
    font: normal normal normal 19px/24px Outfit;
    letter-spacing: 0px;
    color: #2F2D2E;
  }
  .post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #cfdace;
  }
  .post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196f3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
  }
  .post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
  }
  .owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
  }
  .owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-prev:after,
  .owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
  }
  .owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
  }
  @media only screen and (max-width: 1280px) {
    .post-slide .post-content {
        padding: 10px 15px 5px 15px;
    }
  }
  



@media screen and (max-width: 768px) {
    h2, h3{
        font-size: 24px !important;
    }
    .classynav ul{
        display: block;
    }
    .our-story {
        padding: 30px 20px !important;
    }
    .our-story .body-component {
        margin: 10px;
    }
    .consultation-section {
        padding: 38px 15px 42px 15px !important;
    }
    .selling-section{
        margin-top: 0px !important;
    }
    .selling-content{
        margin-top: 0px !important;
    }
.card-carousel {
    margin-top: 15%;
}
.Brilliant {
    margin: 0 auto;
    padding: 60px 20px 60px 20px !important;
}
.owl-carousel .item {
    display: flex;
    align-items: center;
    justify-content: center;
}


}